@import 'custom';

//----------------------------------------------------------------------
// > XS - Custom, iPhone Retina
//----------------------------------------------------------------------

@media only screen and (min-width : 320px) {

}

//----------------------------------------------------------------------
// XS - Extra Small Devices, Phones
//----------------------------------------------------------------------

@media only screen and (min-width : 480px) {

}

//----------------------------------------------------------------------
// SM - Small Devices, Tablets
//----------------------------------------------------------------------

@media only screen and (min-width : 768px) {
  #header {
    .navbar-right {
      margin-top: $spacing;
    }
    .logo {
      min-width: 160px;
      max-width: 160px;
    }
  }
  #video {
    h1 {
      font-size: 102px;
      margin-bottom: $xl-spacing;
    }
    h2 {
      font-size: 40px;
    }
  }
}

@media only screen and (max-width: 768px) {
  section {
    padding-left: 4%;
    padding-right: 4%;
  }
  #video {
    .absolute {
      left: 0;
      width: 100%;
      margin: 0;
    }
  }
  #footer {
    .col-xs-12 {
      .pull-left, .pull-right {
        float: none !important;
      }
    }
  }
}

//----------------------------------------------------------------------
// MD - Medium Devices, Desktops
//----------------------------------------------------------------------

@media only screen and (min-width : 992px) {
}

@media only screen and (max-width: 992px) {
  .grid-space {
    margin-bottom: $spacing !important;
  }
  #promise {
    display: flex;
    flex-direction: column-reverse;
  }
  img.bio-portrait {
    max-width: 75%;
  }
}

//----------------------------------------------------------------------
// LG - Large Devices, Wide Screens
//----------------------------------------------------------------------

@media only screen and (min-width : 1200px) {

}

@media only screen and (min-width: 1920px) {
  .top-image {
    background-size: cover;
  }
}


/* menu override */
/*@media only screen and (max-width:992px) {
  .site-navigation {
    .collapse {
      display: none !important;
    }
    .collapse.in {
      display: block !important;
    }
    .navbar #main-menu {
      display: block;
      margin: 0;
    }
    .navbar-header {
      float: none;
    }
    .navbar-toggle {
      display: block;
      float: right;
    }
    .nav>li {
      position: relative;
      display: block;
      float: none;
      padding: 0;
      a {
        padding: 10px 0;
      }
    }
    li.logo {
      display: none !important;
    }
  }
}*/
